@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 224, 229, 230;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply bg-gray-100;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-track {
  display: none;
  background: var(--primary);
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  display: none;
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.number {
  color: white;
  -webkit-text-stroke: 0.07rem #111827;
  @apply font-number;
}

.number-sm {
  color: white;
  -webkit-text-stroke: 0.06rem #111827;
  @apply font-number;
}

/* SAD: cpu usage is too damn high */
.bg-animation {
  content: "";
  --angle: 0deg;
  transform: translateZ(0);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate-animation {
  to {
    --angle: 360deg;
  }
}

@supports (background: paint(houdini)) {
  .bg-animation {
    animation: rotate-animation 4s linear infinite;
    background: linear-gradient(
      var(--angle),
      rgb(236 72 153 / 0.8),
      rgb(14 165 233 / 0.8),
      rgb(236 72 153 / 0.6),
      rgb(14 165 233 / 0.6)
    );
  }
}
